# Python virtual environment
.venv/

# Python cache files
__pycache__/
*.pyc

# Environment variables and secrets
.env
.env.*

# VS Code local settings
.vscode/

# Node.js dependencies
node_modules/

# Frontend build outputs
dist/
build/

# Local database
*.db
*.sqlite3


.venv/
__pycache__/
*.pyc
.env
.env.*
.vscode/
node_modules/
.ipynb_checkpoints/
*.safetensors
*.bin
*.gguf